body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------Navagation-------------------------------------------*/
.logo {
margin: 0px 10px;
padding: 10px 30px;
font-size: 1.2em;
color: black;
font-weight: bold;
}

#logo {
height: 40px;
margin: 10px 10px 10px 30px;
}

.navHome {
background-color: #FFE4E1;
height: 60px;
}

.content {
background-color: white;
}

.logo, .listNav, .cart {
margin: 0;
padding: 0;
}

.listNav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.listNav li {
float: left;
}

.listNav li a {
display: block;
color: black;
font-size: 1.2em;
text-align: center;
line-height: 20px;
padding: 20px;
text-decoration: none;
}

.listNav li a:hover {
background-color: #EAAEAE;
}

.cartButton {
float: right;
margin: 10px 20px;
}

.cartButton:hover {
background-color: #EEEEEE;
}
.active{
    background-color: #EAAEAE;
}

.col-3 > div >:nth-child(2){
    margin-top: 30px;
}
.col-3 > div{
    display: flex;
    flex-flow: column wrap;
}
.col-3 div h4{
    text-align: center;
    background-color: #EAAEAE;
}
.col-3 form{
    background-color: #f1f1f1;
    margin: 0 auto;
}
.col-3 form input{
    width: 200px;
}
textarea{
    width: 100%;
    max-width: 100%;
}
.col-3 form button{
    width: 100px;
}
#myCanvas{
    width: 100%;
    max-width: 100%;
}
.d-flex > div:nth-child(2){
    justify-self: end;
}


footer {
padding: 15px;
color: black;
text-align: center;
background-color: #FFE4E1;
}

footer a {
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}

@media screen and (max-width: 1225px) {
    .col .d-flex{
        flex-flow: column wrap;
    } 
}
@media screen and (max-width: 1000px) {
    .col-3 h4{
        font-size: calc(1em + 0.3vh);
    }
    
}
@media screen and (max-width: 950px){
    .container-fluid > .row{
        flex-flow: column-reverse wrap;
    }
    .container-fluid > .row .col-3{
        width: 100%;
    }
    .container-fluid > .row .col-9{
        width: 100%;
    }
    .col-3 > .row{
        flex-flow: row;
    }
    .col-3 > .row > .col{
        display: flex;
        flex-flow: column wrap;
    }
    .col-3 > .row > .col form{
        width: 100%;
        display: none;
    }
    .col-3 > .row > .col h4{
        cursor: pointer;
    }
    .col-3 > div >:nth-child(2){
        margin-top: 0;
    }
}
@media screen and (max-width: 415px){
    .col-3 div h4{
        font-size: calc(1em);
    }
}
@media screen and (max-width: 380px) {
    .nav{
        font-size: medium;
    }
    .nav .function .signout:hover{
        font-size: 1em;
        background-color: #EAAEAE;
    }
}
